[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "amir"]
	path = amir
	url = https://github.com/mullerty/Mephi.git
[submodule "google_test"]
	path = google_test
	url = https://github.com/google/googletest
